@use "../abstracts" as *;
@use "sass:string" as s;

@page {
  size: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

@include scrollbar(t, $dgray, $dcyan, $white, 10, t, t, -80%);

:root,
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @include prefix(
    (
      box-sizing: border-box
    ),
    webkit moz
  );
}

:root,
html,
body {
  @media print {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

@include elements {
  @include prefix(
    (
      box-sizing: inherit
    ),
    webkit moz
  );
}

body {
  overflow-x: hidden;
}

@include elements(margin-padding) {
  margin: 0;
  padding: 0;
}

@include elements(legacy) {
  display: block;
}

@include elements(cursor) {
  cursor: pointer;
}

@include elements(button) {
  @include prefix(
    (
      appearance: button
    ),
    webkit moz
  );
}

@include elements(select) {
  -webkit-touch-callout: none;

  @include prefix(
    (
      user-select: none
    ),
    webkit moz ms khtml
  );
}

@include elements(input) {
  width: 100%;
}

blockquote {
  margin: 0 40px;
}

button,
[class*="btn-"] {
  @include prefix(
    (
      border-radius: 2px
    ),
    webkit moz
  );

  display: inline-block;
  border: 1px solid $gray;
  background: $white;

  &:hover {
    border-color: $dgray;
    background: $lgray;
  }

  &.a {
    display: inline;
    border: none;
    background: none;

    @include prefix(
      (
        appearance: auto
      ),
      webkit moz
    );

    &:hover {
      border: none;
      background: none;
    }
  }

  &.a-imp {
    display: inline !important;
    border: none !important;
    background: none !important;

    @include prefix(
      (
        appearance: auto s.unquote("important")
      ),
      webkit moz
    );

    &:hover {
      border: none !important;
      background: none !important;
    }
  }
}

ol,
ul {
  padding-left: 40px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
