@use "../abstracts" as *;
@use "sass:math" as m;

.cont,
.cont-fl {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.cont {
  @include mq(smup) {
    padding: 0;
    max-width: m.round($sm * 0.95);
  }

  @include mq(mdup) {
    max-width: m.round($md * 0.95);
  }

  @include mq(lgup) {
    max-width: m.round($lg * 0.95);
  }

  @include mq(xlup) {
    max-width: m.round($xl * 0.95);
  }

  @include mq(xxl) {
    max-width: m.round($xxl * 0.95);
  }
}

.grid {
  margin: 0 -10px;

  @include clearfix;

  &.xgut {
    margin: 0;

    @include all(gcol-, ins) {
      padding: 0;
    }
  }

  @include all(gcol-) {
    float: left;
    width: 100%;
    padding: 0 10px;
  }

  [class*="push-"],
  [class*="pull-"] {
    position: relative;
  }

  @for $i from 1 through 12 {
    $percentage: m.div($i * 100%, 12);

    .gcol-#{$i} {
      max-width: $percentage;
    }

    .push-#{$i} {
      left: $percentage;
    }

    .pull-#{$i} {
      right: $percentage;
    }
  }

  @include mq(xsup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xs-#{$i} {
        max-width: $percentage;
      }

      .xs-push-#{$i} {
        left: $percentage;
      }

      .xs-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(smup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-sm-#{$i} {
        max-width: $percentage;
      }

      .sm-push-#{$i} {
        left: $percentage;
      }

      .sm-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(mdup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-md-#{$i} {
        max-width: $percentage;
      }

      .md-push-#{$i} {
        left: $percentage;
      }

      .md-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(lgup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-lg-#{$i} {
        max-width: $percentage;
      }

      .lg-push-#{$i} {
        left: $percentage;
      }

      .lg-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(xlup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xl-#{$i} {
        max-width: $percentage;
      }

      .xl-push-#{$i} {
        left: $percentage;
      }

      .xl-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(xxl) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xxl-#{$i} {
        max-width: $percentage;
      }

      .xxl-push-#{$i} {
        left: $percentage;
      }

      .xxl-pull-#{$i} {
        right: $percentage;
      }
    }
  }
}

.flex {
  display: -ms-flexbox;

  @include prefix(
    (
      display: box,
    ),
    webkit moz,
    val,
    f
  );

  @include prefix(
    (
      display: flex,
    ),
    webkit,
    val
  );

  @include prefix(
    (
      align-items: center,
    ),
    webkit
  );

  @include prefix(
    (
      pack: center,
    ),
    webkit-box moz-box ms-flex,
    prop,
    f
  );

  @include prefix(
    (
      justify-content: center,
    ),
    webkit
  );

  @include prefix(
    (
      box-orient: vertical,
    ),
    webkit moz,
    prop,
    f
  );

  @include prefix(
    (
      box-direction: normal,
    ),
    webkit moz,
    prop,
    f
  );

  @include prefix(
    (
      flex-direction: column,
    ),
    webkit ms
  );

  &.ftop {
    @include prefix(
      (
        pack: start,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-start,
      ),
      webkit
    );
  }

  &.fbot {
    @include prefix(
      (
        pack: end,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-end,
      ),
      webkit
    );
  }

  &.flft {
    @include prefix(
      (
        align: start,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        align-items: flex-start,
      ),
      webkit
    );
  }

  &.frgt {
    @include prefix(
      (
        align: end,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        align-items: flex-end,
      ),
      webkit
    );
  }
}

.rflex {
  display: -ms-flexbox;

  @include prefix(
    (
      display: box,
    ),
    webkit moz,
    val,
    f
  );

  @include prefix(
    (
      display: flex,
    ),
    webkit,
    val
  );

  @include prefix(
    (
      align: center,
    ),
    webkit-box moz-box ms-flex,
    prop,
    f
  );

  @include prefix(
    (
      align-items: center,
    ),
    webkit
  );

  @include prefix(
    (
      pack: center,
    ),
    webkit-box moz-box ms-flex,
    prop,
    f
  );

  @include prefix(
    (
      justify-content: center,
    ),
    webkit
  );

  &.rftop {
    @include prefix(
      (
        align: start,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        align-items: flex-start,
      ),
      webkit
    );
  }

  &.rfbot {
    @include prefix(
      (
        align: end,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        align-items: flex-end,
      ),
      webkit
    );
  }

  &.rflft {
    @include prefix(
      (
        pack: start,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-start,
      ),
      webkit
    );
  }

  &.rfrgt {
    @include prefix(
      (
        pack: end,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-end,
      ),
      webkit
    );
  }
}

.grid-cont {
  @include prefix(
    (
      display: grid,
    ),
    ms,
    val
  );

  @include prefix(
    (
      pack: center,
    ),
    ms-flex-line,
    prop,
    f
  );

  @include prefix(
    (
      align-content: center,
    ),
    webkit
  );

  @include prefix(
    (
      pack: center,
    ),
    webkit-box moz-box ms-flex,
    prop,
    f
  );

  @include prefix(
    (
      justify-content: center,
    ),
    webkit
  );

  &.gtop {
    @include prefix(
      (
        pack: start,
      ),
      ms-flex-line,
      prop,
      f
    );

    @include prefix(
      (
        align-content: flex-start,
      ),
      webkit
    );
  }

  &.gbot {
    @include prefix(
      (
        pack: end,
      ),
      ms-flex-line,
      prop,
      f
    );

    @include prefix(
      (
        align-content: flex-end,
      ),
      webkit
    );
  }

  &.glft {
    @include prefix(
      (
        pack: start,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-start,
      ),
      webkit
    );
  }

  &.grgt {
    @include prefix(
      (
        pack: end,
      ),
      webkit-box moz-box ms-flex,
      prop,
      f
    );

    @include prefix(
      (
        justify-content: flex-end,
      ),
      webkit
    );
  }
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  &.ctr,
  &.lft,
  &.rgt {
    width: auto;
  }

  &.lft {
    margin-left: 0;
  }

  &.rgt {
    margin-right: 0;
  }

  .valign {
    display: table-cell;
    vertical-align: middle;

    &.top {
      vertical-align: top;
    }

    &.bot {
      vertical-align: bottom;
    }
  }
}

.img {
  background-repeat: no-repeat;
  background-position: center;

  @include prefix(
    (
      background-size: cover,
    ),
    webkit moz o
  );

  &:before,
  &:after {
    background-repeat: no-repeat;
    background-position: center;

    @include prefix(
      (
        background-size: cover,
      ),
      webkit moz o
    );
  }

  &.prlax {
    @include mq(lgup) {
      background-attachment: fixed;
    }
  }

  &.con {
    @include prefix(
      (
        background-size: contain,
      ),
      webkit moz o
    );

    &:before,
    &:after {
      @include prefix(
        (
          background-size: contain,
        ),
        webkit moz o
      );
    }
  }

  &.itop {
    background-position: top;

    &:before,
    &:after {
      background-position: top;
    }
  }

  &.ibot {
    background-position: bottom;

    &:before,
    &:after {
      background-position: bottom;
    }
  }

  &.ilft {
    background-position: left;

    &:before,
    &:after {
      background-position: left;
    }
  }

  &.irgt {
    background-position: right;

    &:before,
    &:after {
      background-position: right;
    }
  }

  &.ilt {
    background-position: left top;

    &:before,
    &:after {
      background-position: left top;
    }
  }

  &.irt {
    background-position: right top;

    &:before,
    &:after {
      background-position: right top;
    }
  }

  &.ilb {
    background-position: left bottom;

    &:before,
    &:after {
      background-position: left bottom;
    }
  }

  &.irb {
    background-position: right bottom;

    &:before,
    &:after {
      background-position: right bottom;
    }
  }
}

.talign {
  text-align: center;

  &.tlft {
    text-align: left;
  }

  &.trgt {
    text-align: right;
  }

  &.tjust {
    text-align: justify;
  }
}

.balign {
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.blft {
    margin-left: 0;
  }

  &.brgt {
    margin-right: 0;
  }
}

.mg-auto {
  margin: auto;
}

.mg-025 {
  margin: 0.25em;
}

.mg-05 {
  margin: 0.5em;
}

.mg-075 {
  margin: 0.75em;
}

.mg-10 {
  margin: 1em;
}

.mg-125 {
  margin: 1.25em;
}

.mg-15 {
  margin: 1.5em;
}

.mg-175 {
  margin: 1.75em;
}

.mg-20 {
  margin: 2em;
}

.mt-025 {
  margin-top: 0.25em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-075 {
  margin-top: 0.75em;
}

.mt-10 {
  margin-top: 1em;
}

.mt-125 {
  margin-top: 1.25em;
}

.mt-15 {
  margin-top: 1.5em;
}

.mt-175 {
  margin-top: 1.75em;
}

.mt-20 {
  margin-top: 2em;
}

.mb-025 {
  margin-bottom: 0.25em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-075 {
  margin-bottom: 0.75em;
}

.mb-10 {
  margin-bottom: 1em;
}

.mb-125 {
  margin-bottom: 1.25em;
}

.mb-15 {
  margin-bottom: 1.5em;
}

.mb-175 {
  margin-bottom: 1.75em;
}

.mb-20 {
  margin-bottom: 2em;
}

.ml-025 {
  margin-left: 0.25em;
}

.ml-05 {
  margin-left: 0.5em;
}

.ml-075 {
  margin-left: 0.75em;
}

.ml-10 {
  margin-left: 1em;
}

.ml-125 {
  margin-left: 1.25em;
}

.ml-15 {
  margin-left: 1.5em;
}

.ml-175 {
  margin-left: 1.75em;
}

.ml-20 {
  margin-left: 2em;
}

.mr-025 {
  margin-right: 0.25em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-075 {
  margin-right: 0.75em;
}

.mr-10 {
  margin-right: 1em;
}

.mr-125 {
  margin-right: 1.25em;
}

.mr-15 {
  margin-right: 1.5em;
}

.mr-175 {
  margin-right: 1.75em;
}

.mr-20 {
  margin-right: 2em;
}

.pd-025 {
  padding: 0.25em;
}

.pd-05 {
  padding: 0.5em;
}

.pd-075 {
  padding: 0.75em;
}

.pd-10 {
  padding: 1em;
}

.pd-125 {
  padding: 1.25em;
}

.pd-15 {
  padding: 1.25em;
}

.pd-175 {
  padding: 1.25em;
}

.pd-20 {
  padding: 2em;
}

.pt-025 {
  padding-top: 0.25em;
}

.pt-05 {
  padding-top: 0.5em;
}

.pt-075 {
  padding-top: 0.75em;
}

.pt-10 {
  padding-top: 1em;
}

.pt-125 {
  padding-top: 1.25em;
}

.pt-15 {
  padding-top: 1.5em;
}

.pt-175 {
  padding-top: 1.75em;
}

.pt-20 {
  padding-top: 2em;
}

.pb-025 {
  padding-bottom: 0.25em;
}

.pb-05 {
  padding-bottom: 0.5em;
}

.pb-075 {
  padding-bottom: 0.75em;
}

.pb-10 {
  padding-bottom: 1em;
}

.pb-125 {
  padding-bottom: 1.25em;
}

.pb-15 {
  padding-bottom: 1.5em;
}

.pb-175 {
  padding-bottom: 1.75em;
}

.pb-20 {
  padding-bottom: 2em;
}

.pl-025 {
  padding-left: 0.25em;
}

.pl-05 {
  padding-left: 0.5em;
}

.pl-075 {
  padding-left: 0.75em;
}

.pl-10 {
  padding-left: 1em;
}

.pl-125 {
  padding-left: 1.25em;
}

.pl-15 {
  padding-left: 1.5em;
}

.pl-175 {
  padding-left: 1.75em;
}

.pl-20 {
  padding-left: 2em;
}

.pr-025 {
  padding-right: 0.25em;
}

.pr-05 {
  padding-right: 0.5em;
}

.pr-075 {
  padding-right: 0.75em;
}

.pr-10 {
  padding-right: 1em;
}

.pr-125 {
  padding-right: 1.25em;
}

.pr-15 {
  padding-right: 1.5em;
}

.pr-175 {
  padding-right: 1.75em;
}

.pr-20 {
  padding-right: 2em;
}

.d-none {
  display: none;
}

.d-inblock {
  display: inline-block;
}

.xbul {
  list-style: none;
  padding-left: 0;
}

.pd50 {
  padding: 50px 0;
}

.boxfx {
  @include prefix(
    (
      box-shadow: 0 10px 20px 0 $black-05,
    ),
    webkit moz
  );
}

.txtfx {
  text-shadow: 0 5px 10px $black-05;
}

.modal-open {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

.h-fluid {
  min-height: 100vh;
}

.vw-fluid {
  width: 100vw;
}

.w-fluid {
  width: 100%;
}

.x-scroll {
  overflow-x: scroll;
}

.y-scroll {
  overflow-y: scroll;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;

  &.nmt-20 {
    margin-top: -2.0em;
  }

  &.nmt-25 {
    margin-top: -2.5em;
  }

  &.nmt-30 {
    margin-top: -3.0em;
  }

  &.nmt-35 {
    margin-top: -3.5em;
  }

  &.nmt-40 {
    margin-top: -4.0em;
  }

  &.nmt-45 {
    margin-top: -4.5em;
  }

  &.nmt-50 {
    margin-top: -5.0em;
  }
}
