@use "../abstracts" as *;
@use "sass:string" as s;

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "arial", sans-serif;
}

@include elements(font) {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

@for $i from 1 through 6 {
  $rem: -0.25 * $i + 2.75rem;
  $vw: -0.2 * $i + 1.4vw;

  h#{$i},
  .h#{$i} {
    line-height: 1.2;
    font-size: $rem;
    color: $white;

    &:before,
    &:after {
      color: $cyan;
      text-shadow: 0 2px 5px $white-04;
    }

    &:before {
      content: "[ ";
    }

    &:after {
      content: " ]";
    }

    @include mq(lgup) {
      font-size: calc(#{$rem} + #{$vw});
    }
  }
}

@for $i from 1 through 9 {
  .fw-#{$i}00 {
    font-weight: #{$i}00;
  }
}

@for $i from 1 through 9 {
  .fs-1#{$i} {
    font-size: s.unquote("1.#{$i}rem");
  }
}

.fs-20 {
  font-size: 2rem;
}

@include fonts;
