/**
 * Contents:
 * - COLORS
 * - URL
 * - HELPERS
 * - MEDIA QUERIES
 */

// --------------------------------------------------
// COLORS
// --------------------------------------------------

$gray: #6c757d;
$dgray: #343a40;
$black-05: rgba(0, 0, 0, 0.5);

// --------------------------------------------------
// URL
// --------------------------------------------------

// --------------------------------------------------
// HELPERS
// --------------------------------------------------

$z-items: ("nav-btn", "search-box", "sticky");

// --------------------------------------------------
// MEDIA QUERIES
// --------------------------------------------------

$xs: 481px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
