/**
 * Contents:
 * - COLORS
 * - URL
 * - HELPERS
 * - MEDIA QUERIES
 */

// --------------------------------------------------
// COLORS
// --------------------------------------------------

$lgray: hsl(0, 0%, 82.745%);
$gray: hsl(208, 7%, 46%);
$gray-06: hsla(208, 7%, 46%, 0.6);
$gray-08: hsla(208, 7%, 46%, 0.8);
$dgray: hsl(210, 10%, 23%);
$dgray-09: hsla(210, 10%, 23%, 0.9);
$dgray-08: hsla(210, 10%, 23%, 0.8);
$dgray-06: hsla(210, 10%, 23%, 0.6);
$dgray2: hsla(210, 10%, 33%);
$white: hsl(210, 17%, 98%);
$white-04: hsla(210, 17%, 98%, 0.4);
$white-08: hsla(210, 17%, 98%, 0.7);
$black-03: hsla(0, 0%, 0%, 0.3);
$black-05: hsla(0, 0%, 0%, 0.5);
$black-08: hsla(0, 0%, 0%, 0.8);
$cyan: hsl(180, 33%, 55%);
$cyan-04: hsla(180, 33%, 55%, 0.4);
$dcyan: hsl(180, 33%, 35%);
$dblue: hsl(192.9, 52.195%, 40.196%);
$dblue2: hsl(193.52, 51.825%, 26.863%);
$dblue3: hsl(180, 100%, 27.255%);
$lblue: hsl(194.4, 53.191%, 90.784%);
$lblue2: hsl(192.97, 52.113%, 72.157%);

// --------------------------------------------------
// URL
// --------------------------------------------------

$blue-gray-wp: url("../img/blue-gray-wp.jpg");

$wave-wp: url(
  "https://images.unsplash.com/photo-1629193266680-9193cc4a0c81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80"
);

$slncdworks: url("../img/slncdworks.JPG");
$batch8: url("../img/batch8.JPG");
$predator: url("../img/predator.JPG");
$bank: url("../img/bank.JPG");
$chessgrid: url("../img/chessgrid.JPG");
$blog: url("../img/blog.JPG");
$psychally: url("../img/psychally.JPG");
$tictactoe: url("../img/tictactoe.JPG");
$chessflex: url("../img/chessflex.JPG");
$survey: url("../img/survey.JPG");
$tribute: url("../img/tribute.JPG");
$momentum: url("../img/momentum.JPG");
$stock: url("../img/stock.JPG");
$stellargram: url("../img/stellargram.JPG");
$journal: url("../img/journal.JPG");
$practice: url("../img/practice.JPG");
$html-email: url("../img/html-email.JPG");

$office: url("../img/office.jpg");
$word: url("../img/word.jpg");
$excel: url("../img/excel.jpg");
$ppoint: url("../img/ppoint.jpg");
$html: url("../img/html.png");
$bootstrap: url("../img/bootstrap.png");
$css: url("../img/css.jpg");
$sass: url("../img/sass.jpg");
$wordpress: url("../img/wordpress.png");
$php: url("../img/php.png");
$javascript: url("../img/javascript.jpg");
$jquery: url("../img/jquery.png");
$adobexd: url("../img/adobexd.png");
$pslogo: url("../img/pslogo.jpg");

// --------------------------------------------------
// HELPERS
// --------------------------------------------------

$mg-auto: (
  "g": "",
  "t": "-top",
  "b": "-bottom",
  "l": "-left",
  "r": "-right",
);

$mg-pd: (
  "0": 0,
  "025": 0.25em,
  "05": 0.5em,
  "075": 0.75em,
  "10": 1em,
  "125": 1.25em,
  "15": 1.5em,
  "175": 1.75em,
  "20": 2em,
  "25": 2.5em,
  "30": 3em,
  "35": 3.5em,
  "40": 4em,
  "45": 4.5em,
  "50": 5em,
);

$locs: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

$dual-locs: ("tb" "top" "bottom", "lr" "left" "right");

$fluids: (
  "vw" "width" 100vw,
  "vh" "min-height" 100vh,
  "w" "width" 100%,
  "h" "height" 100%
);

$xys: ("x", "y");
$scroll-hiddens: (scroll, hidden);
$positions: (relative, absolute, fixed);

// HIGH TO LOW
$z-items: (
  "loader",
  "top-nav-btn",
  "side-nav-btn",
  "page-nav-btn",
  "nav",
  "search-box",
  "logo",
  "pgnum",
  "wrap-blue"
);

// LOW TO HIGH
$nz-items: (

);

$head-sizes: (
  "4": 16pt,
  "5": 15pt,
  "6": 14pt
);

$formal-sizes: (
  "1": 1in,
  "15": 1.5in,
  "2": 2in
);

// --------------------------------------------------
// MEDIA QUERIES
// --------------------------------------------------

$xs: 481px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$cont-mqs: (
  "smup": $sm,
  "mdup": $md,
  "lgup": $lg,
  "xlup": $xl,
  "xxl": $xxl,
);

$min-mqs: (
  "xsup": "xs",
  "smup": "sm",
  "mdup": "md",
  "lgup": "lg",
  "xlup": "xl",
  "xxl": "xxl",
);

$max-mqs: ("xxs", "xs", "sm", "md", "lg", "xl");

$min-max-mqs: (
  "xsup",
  "smup",
  "mdup",
  "lgup",
  "xlup",
  "xxl",
  "xxs",
  "xs",
  "sm",
  "md",
  "lg",
  "xl"
);
