@use "../abstracts" as *;

.btn-bracket {
  border: none;
  background: transparent;

  &:before,
  &:after {
    color: transparent;
    font-weight: 700;
    position: relative;
    bottom: 0.05em;
    text-shadow: 0 2px 5px transparent;

    @include tran;
  }

  &:before {
    content: "[ ";
  }

  &:after {
    content: " ]";
  }

  &:hover {
    border: none;
    background: transparent;

    &:before,
    &:after {
      color: $cyan;
      text-shadow: 0 2px 5px $white-04;
    }
  }

  &.blk-shadow {
    &:hover {
      &:before,
      &:after {
        color: $cyan;
        text-shadow: 0 2px 5px #000;
      }
    }
  }
}

.btn-cyan {
  background: $cyan;
  border: 2px solid transparent;
  color: $dgray;

  @include prefix(
    (
      border-radius: 0.5em
    ),
    webkit moz
  );

  @include tran;

  &:hover {
    border: 2px solid $white;
  }

  & + ul {
    height: 0;

    @include vis(hidden);
    @include tran;

    li {
      @include vis(hidden);
      @include tran;
    }
  }

  &.active {
    & + ul {
      height: auto;

      @include vis(visible);

      li {
        @include vis(visible);
      }
    }
  }
}

#portfolio-btn {
  color: $white;
  @include tran;

  &.active {
    @include prefix(
      (
        transform: rotate(180deg),
      ),
      webkit moz ms o
    );

    & + #portfolio-dropdown {
      @include vis(visible) {
        height: 35vh;

        @include mq(md) {
          height: 300px;
        }
      }
    }
  }
}
