@use "../abstracts" as *;

button {
  &.btn-bracket {
    color: $white;
    border: none;
    background: transparent;
  }
}

.btn-bracket {
  &:before,
  &:after {
    color: transparent;
    font-weight: 700;
    position: relative;
    bottom: 0.05em;

    @include tran;
  }

  &:before {
    content: "[ ";
  }

  &:after {
    content: " ]";
  }

  &:hover {
    &:before,
    &:after {
      color: $cyan;
      text-shadow: 0 2px 5px $white-04;
    }
  }
}
