@use "../abstracts" as *;

.owl-item {
  & + .active {
    .item {
      margin-right: 0;
    }
  }

  &.active {
    & + .active {
      .item {
        margin-left: 0;
      }
    }
  }

  .item {
    margin: auto;
  }
}

.owl-dots {
  @include mq(md) {
    display: none;
  }
}
