@use "../abstracts" as *;
@use "sass:math" as m;

.cont,
.cont-fl {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.cont {
  @include mq(smup) {
    padding: 0;
    max-width: m.round($sm * 0.95);
  }

  @include mq(mdup) {
    max-width: m.round($md * 0.95);
  }

  @include mq(lgup) {
    max-width: m.round($lg * 0.95);
  }

  @include mq(xlup) {
    max-width: m.round($xl * 0.95);
  }

  @include mq(xxl) {
    max-width: m.round($xxl * 0.95);
  }
}

.wrap-pagelink {
  position: absolute;
  margin-top: -100px;
}

.wrap-scroll {
  overflow-y: scroll;
}
