@use "../abstracts" as *;

#portfolio-dropdown {
  @include tran(all, 0.25s);
  @include vis(hidden) {
    height: 0;
  }

  * {
    @include tran;

    @include vis(hidden) {
      opacity: 0;
    }
  }

  & > *,
  & > .grid [class*="gcol"] {
    height: 0;
  }

  #stock {
    @include bg($stock);
  }
}
