@use "../abstracts" as *;

.select-box {
  position: relative;

  .selected {
    cursor: pointer;

    &.active {
      & ~ .search-box {
        input {
          pointer-events: auto;
          @include vis(visible);
        }
      }

      & ~ .options-container {
        @include vis(visible) {
          margin-top: 35px;
          max-height: 250px;
          overflow-y: scroll;
        }
      }
    }
  }

  .search-box {
    position: relative;

    input[type*="text"] {
      z-index: z("search-box");
      width: 100%;
      position: absolute;
      pointer-events: none;
      @include tran(opacity);
      @include vis(hidden);
    }
  }

  .options-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    @include tran;

    @include vis(hidden) {
      max-height: 0;
    }

    .option {
      cursor: pointer;
      @include tran;

      &:hover {
        background: $gray;
      }

      &.hide {
        display: none;
      }

      input[type*="radio"] {
        display: none;
      }

      label {
        cursor: pointer;
      }
    }
  }
}

.wrap-form {
  @include mq(xsup) {
    width: 75%;
  }

  form {
    color: $white;
    width: 100%;

    label {
      span {
        color: $lcyan;
      }
    }

    textarea {
      resize: none;
    }

    #message-notice {
      @include tran;

      @include vis(hidden) {
        height: 0;
      }

      &.show {
        @include vis(visible) {
          height: auto;
        }
      }
    }
  }
}
