@use "../abstracts" as *;
@use "sass:math" as m;

.grid {
  margin: 0 -10px;

  @include clearfix;

  &.xgut {
    margin: 0;

    @include all(gcol-, ins) {
      padding: 0;
    }
  }

  @include all(gcol-) {
    float: left;
    width: 100%;
    padding: 0 10px;
  }

  [class*="push-"],
  [class*="pull-"] {
    position: relative;
  }

  @for $i from 1 through 12 {
    $percentage: m.div($i * 100%, 12);

    .gcol-#{$i} {
      max-width: $percentage;
    }

    .push-#{$i} {
      left: $percentage;
    }

    .pull-#{$i} {
      right: $percentage;
    }
  }

  @include mq(xsup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xs-#{$i} {
        max-width: $percentage;
      }

      .xs-push-#{$i} {
        left: $percentage;
      }

      .xs-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(smup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-sm-#{$i} {
        max-width: $percentage;
      }

      .sm-push-#{$i} {
        left: $percentage;
      }

      .sm-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(mdup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-md-#{$i} {
        max-width: $percentage;
      }

      .md-push-#{$i} {
        left: $percentage;
      }

      .md-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(lgup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-lg-#{$i} {
        max-width: $percentage;
      }

      .lg-push-#{$i} {
        left: $percentage;
      }

      .lg-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(xlup) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xl-#{$i} {
        max-width: $percentage;
      }

      .xl-push-#{$i} {
        left: $percentage;
      }

      .xl-pull-#{$i} {
        right: $percentage;
      }
    }
  }

  @include mq(xxl) {
    @for $i from 1 through 12 {
      $percentage: m.div($i * 100%, 12);

      .gcol-xxl-#{$i} {
        max-width: $percentage;
      }

      .xxl-push-#{$i} {
        left: $percentage;
      }

      .xxl-pull-#{$i} {
        right: $percentage;
      }
    }
  }
}
