@use "../abstracts" as *;

#myself {
  @include prefix(
    (
      border-radius: 25px 100px 200px,
    ),
    webkit moz
  );

  @include mq(xxs) {
    width: 80%;
  }
}

#stock {
  @include bg($stock);
}

#blog {
  @include bg($blog);
}

#psychally {
  @include bg($psychally);
}

#tictactoe {
  @include bg($tictactoe);
}

#chessgrid {
  @include bg($chessgrid);
}

#chessflex {
  @include bg($chessflex);
}

#survey {
  @include bg($survey);
}

#tribute {
  @include bg($tribute);
}

#momentum {
  @include bg($momentum);
}

#slncdworks {
  @include bg($slncdworks);
}

#batch8 {
  @include bg($batch8);
}

#predator {
  @include bg($predator);
}

#bank {
  @include bg($bank);
}

#stellargram {
  @include bg($stellargram);
}

#journal {
  @include bg($journal);
}

#html-email {
  @include bg($html-email);
}

#practice {
  @include bg($practice);
}

#rwd {
  height: 2em;
  margin: 8px;
}
