@use "../abstracts" as *;

nav {
  z-index: z("nav-bar");

  &#nav-bar {
    @include tran;

    &.bg-change {
      background: $dgray-08;

      #nav-btn {
        border-color: $white;
      }

      #nav-btn:before,
      #nav-btn:after {
        color: $white;
      }

      li {
        &:hover {
          &:before,
          &:after {
            text-shadow: 0 2px 5px $white-04;
          }
        }
      }
    }

    img {
      position: relative;
      width: 50px;
      z-index: z("logo");
    }

    button#nav-btn {
      float: right;

      @include mq(xlup) {
        display: none;
      }
    }

    #nav-coll {
      @include mq(lg) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: $dgray-09;

        @include vis(hidden) {
          opacity: 0;
        }

        @include tran;
      }

      .menu-container {
        & > ul {
          & > li {
            @include mq(xlup) {
              display: inline-block;
            }

            @include mq(lg) {
              display: block;
              margin: 2em 0;
            }

            a {
              padding: 1em;
              color: $white;
            }
          }
        }
      }
    }

    .menu-container {
      & > ul {
        & > li {
          display: inline-block;
        }
      }
    }
  }

  &#side-bar {
    #side-coll {
      @include tran;
    }
  }

  button#nav-btn {
    position: relative;
    z-index: z("nav-btn");
    outline: 0;
    background: transparent;
    border-width: 2px;
    border-color: $white;
    width: 35px;
    height: 35px;
    font-size: 30px;

    @include fa(f0c9, fas, before) {
      position: absolute;
      top: -6px;
      left: 2.5px;
      color: $white;
    }

    @include fa(f00d, fas) {
      position: absolute;
      top: -6px;
      left: 5px;
      color: $white;

      @include tran;

      @include vis(hidden) {
        opacity: 0;
      }
    }

    &.active {
      &:before {
        @include vis(hidden) {
          opacity: 0;
        }
      }

      &:after {
        @include vis(visible) {
          opacity: 1;
        }
      }

      & ~ #nav-coll {
        @include vis(visible) {
          opacity: 1;
        }
      }
    }
  }

  .menu-container {
    ul {
      list-style: none;
      padding-left: 0;

      a {
        text-shadow: 0 2px 4px $black-05, 0 -2px 4px $black-05;
      }
    }
  }
}

.wrap-resume {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 230px;
    border: 15px solid $white;

    @media print {
      display: none;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin: 20px 0;

        span {
          padding: 20px 0;
          cursor: pointer;
          font-size: 1.5rem;
          color: $white;

          &:after {
            font-family: monospace;
            content: " <--";
            color: transparent;
          }

          &:hover,
          &.active {
            &:after {
              color: $white;
            }
          }
        }
      }
    }
  }
}
