/**
 * Contents:
 * - COLORS
 * - URL
 * - HELPERS
 * - MEDIA QUERIES
 */
/**
 * Contents:
 * - MEDIA QUERIES
 * - FONTS
 * - HELPERS
 */
.container,
.container-fluid {
  padding: 0 20px;
}

@media only screen and (min-width: 576px) {
  .container {
    padding: 0;
    max-width: 547px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 942px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.row {
  margin: 0 -10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding: 0 10px;
}

i[id*=btn] {
  cursor: pointer;
}

.owl-carousel.owl-fl, .owl-carousel.owl-side-nav {
  position: relative;
}
.owl-carousel.owl-fl .owl-nav, .owl-carousel.owl-side-nav .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel.owl-fl .owl-nav .owl-prev, .owl-carousel.owl-side-nav .owl-nav .owl-prev {
  float: left;
}
.owl-carousel.owl-fl .owl-nav .owl-next, .owl-carousel.owl-side-nav .owl-nav .owl-next {
  float: right;
}
.owl-carousel.owl-fl .owl-dots {
  position: absolute;
  width: 100%;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next,
.owl-carousel .owl-dot {
  outline: 0;
}

.select2-container .select2-selection {
  height: 40px;
}
.select2-container .select2-selection .select2-selection__rendered {
  line-height: 40px;
}
.select2-container .select2-selection .select2-selection__arrow {
  top: 50%;
  margin-top: -13px;
}

@page {
  size: auto;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

blockquote,
body,
button,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

button,
[role=button],
input[type=checkbox],
input[type=checkbox] + label,
input[type=radio],
input[type=radio] + label,
input[type=submit],
input[type=reset],
select,
summary {
  cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type=checkbox] + label,
input[type=radio] + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

[type=email],
[type=password],
[type=text] {
  width: 100%;
}

a {
  color: #6c757d;
  text-decoration: none;
}
a:hover {
  color: #343a40;
  text-decoration: none;
}

blockquote {
  margin: 0 40px;
}

ol,
ul {
  padding-left: 40px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font: 16px/1.5 "arial", sans-serif;
}

a,
abbr,
address,
article,
aside,
b,
bdo,
blockquote,
body,
button,
caption,
cite,
data,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
mark,
nav,
ol,
optgroup,
option,
output,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var {
  font: inherit;
}

address,
em,
i,
var {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: monospace;
}

small,
sub,
sup {
  font-size: 0.5em;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  h1,
.h1 {
    font-size: calc(2.5rem + 1.2vw);
  }
}

h2,
.h2 {
  line-height: 1.2;
  font-size: 2.25rem;
}
@media only screen and (min-width: 992px) {
  h2,
.h2 {
    font-size: calc(2.25rem + 1vw);
  }
}

h3,
.h3 {
  line-height: 1.2;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  h3,
.h3 {
    font-size: calc(2rem + 0.8vw);
  }
}

h4,
.h4 {
  line-height: 1.2;
  font-size: 1.75rem;
}
@media only screen and (min-width: 992px) {
  h4,
.h4 {
    font-size: calc(1.75rem + 0.6vw);
  }
}

h5,
.h5 {
  line-height: 1.2;
  font-size: 1.5rem;
}
@media only screen and (min-width: 992px) {
  h5,
.h5 {
    font-size: calc(1.5rem + 0.4vw);
  }
}

h6,
.h6 {
  line-height: 1.2;
  font-size: 1.25rem;
}
@media only screen and (min-width: 992px) {
  h6,
.h6 {
    font-size: calc(1.25rem + 0.2vw);
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex.ftop {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex.fbot {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex.flft {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex.frgt {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.rflex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rflex.rftop {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.rflex.rfbot {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.rflex.rflft {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.rflex.rfrgt {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.grid-cont {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.grid-cont.gtop {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.grid-cont.gbot {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.grid-cont.glft {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.grid-cont.grgt {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.table.ctr, .table.lft, .table.rgt {
  width: auto;
}
.table.lft {
  margin-left: 0;
}
.table.rgt {
  margin-right: 0;
}
.table .valign {
  display: table-cell;
  vertical-align: middle;
}
.table .valign.top {
  vertical-align: top;
}
.table .valign.bot {
  vertical-align: bottom;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img:before, .img:after {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 992px) {
  .img.prlax {
    background-attachment: fixed;
  }
}
.img.con {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.img.con:before, .img.con:after {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.img.itop {
  background-position: top;
}
.img.itop:before, .img.itop:after {
  background-position: top;
}
.img.ibot {
  background-position: bottom;
}
.img.ibot:before, .img.ibot:after {
  background-position: bottom;
}
.img.ilft {
  background-position: left;
}
.img.ilft:before, .img.ilft:after {
  background-position: left;
}
.img.irgt {
  background-position: right;
}
.img.irgt:before, .img.irgt:after {
  background-position: right;
}
.img.ilt {
  background-position: left top;
}
.img.ilt:before, .img.ilt:after {
  background-position: left top;
}
.img.irt {
  background-position: right top;
}
.img.irt:before, .img.irt:after {
  background-position: right top;
}
.img.ilb {
  background-position: left bottom;
}
.img.ilb:before, .img.ilb:after {
  background-position: left bottom;
}
.img.irb {
  background-position: right bottom;
}
.img.irb:before, .img.irb:after {
  background-position: right bottom;
}

.talign {
  text-align: center;
}
.talign.tlft {
  text-align: left;
}
.talign.trgt {
  text-align: right;
}
.talign.tjust {
  text-align: justify;
}

.balign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.balign.blft {
  margin-left: 0;
}
.balign.brgt {
  margin-right: 0;
}

.height-fl {
  min-height: 100vh;
}

.mg-025 {
  margin: 0.25em;
}

.mg-05 {
  margin: 0.5em;
}

.mg-075 {
  margin: 0.75em;
}

.mg-10 {
  margin: 1em;
}

.mg-125 {
  margin: 1.25em;
}

.mt-025 {
  margin-top: 0.25em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-075 {
  margin-top: 0.75em;
}

.mt-10 {
  margin-top: 1em;
}

.mt-125 {
  margin-top: 1.25em;
}

.mb-025 {
  margin-bottom: 0.25em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-075 {
  margin-bottom: 0.75em;
}

.mb-10 {
  margin-bottom: 1em;
}

.mb-125 {
  margin-bottom: 1.25em;
}

.ml-025 {
  margin-left: 0.25em;
}

.ml-05 {
  margin-left: 0.5em;
}

.ml-075 {
  margin-left: 0.75em;
}

.ml-10 {
  margin-left: 1em;
}

.ml-125 {
  margin-left: 1.25em;
}

.mr-025 {
  margin-right: 0.25em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-075 {
  margin-right: 0.75em;
}

.mr-10 {
  margin-right: 1em;
}

.mr-125 {
  margin-right: 1.25em;
}

.pd-025 {
  padding: 0.25em;
}

.pd-05 {
  padding: 0.5em;
}

.pd-075 {
  padding: 0.75em;
}

.pd-10 {
  padding: 1em;
}

.pd-125 {
  padding: 1.25em;
}

.pt-025 {
  padding-top: 0.25em;
}

.pt-05 {
  padding-top: 0.5em;
}

.pt-075 {
  padding-top: 0.75em;
}

.pt-10 {
  padding-top: 1em;
}

.pt-125 {
  padding-top: 1.25em;
}

.pb-025 {
  padding-bottom: 0.25em;
}

.pb-05 {
  padding-bottom: 0.5em;
}

.pb-075 {
  padding-bottom: 0.75em;
}

.pb-10 {
  padding-bottom: 1em;
}

.pb-125 {
  padding-bottom: 1.25em;
}

.pl-025 {
  padding-left: 0.25em;
}

.pl-05 {
  padding-left: 0.5em;
}

.pl-075 {
  padding-left: 0.75em;
}

.pl-10 {
  padding-left: 1em;
}

.pl-125 {
  padding-left: 1.25em;
}

.pr-025 {
  padding-right: 0.25em;
}

.pr-05 {
  padding-right: 0.5em;
}

.pr-075 {
  padding-right: 0.75em;
}

.pr-10 {
  padding-right: 1em;
}

.pr-125 {
  padding-right: 1.25em;
}

.xbul {
  list-style: none;
  padding-left: 0;
}

.pd50 {
  padding: 50px 0;
}

.boxfx {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.txtfx {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.modal-open {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

.cont,
.cont-fl {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 576px) {
  .cont {
    padding: 0;
    max-width: 547px;
  }
}
@media only screen and (min-width: 768px) {
  .cont {
    max-width: 730px;
  }
}
@media only screen and (min-width: 992px) {
  .cont {
    max-width: 942px;
  }
}
@media only screen and (min-width: 1200px) {
  .cont {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .cont {
    max-width: 1330px;
  }
}

.wrap-pagelink {
  position: absolute;
  margin-top: -100px;
}

.wrap-scroll {
  overflow-y: scroll;
}

.grid {
  margin: 0 -10px;
  zoom: 1;
}
.grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.grid.xgut {
  margin: 0;
}
.grid.xgut > [class*=gcol-] {
  padding: 0;
}
.grid [class*=gcol-] {
  float: left;
  width: 100%;
  padding: 0 10px;
}
.grid [class*=push-],
.grid [class*=pull-] {
  position: relative;
}
.grid .gcol-1 {
  max-width: 8.3333333333%;
}
.grid .push-1 {
  left: 8.3333333333%;
}
.grid .pull-1 {
  right: 8.3333333333%;
}
.grid .gcol-2 {
  max-width: 16.6666666667%;
}
.grid .push-2 {
  left: 16.6666666667%;
}
.grid .pull-2 {
  right: 16.6666666667%;
}
.grid .gcol-3 {
  max-width: 25%;
}
.grid .push-3 {
  left: 25%;
}
.grid .pull-3 {
  right: 25%;
}
.grid .gcol-4 {
  max-width: 33.3333333333%;
}
.grid .push-4 {
  left: 33.3333333333%;
}
.grid .pull-4 {
  right: 33.3333333333%;
}
.grid .gcol-5 {
  max-width: 41.6666666667%;
}
.grid .push-5 {
  left: 41.6666666667%;
}
.grid .pull-5 {
  right: 41.6666666667%;
}
.grid .gcol-6 {
  max-width: 50%;
}
.grid .push-6 {
  left: 50%;
}
.grid .pull-6 {
  right: 50%;
}
.grid .gcol-7 {
  max-width: 58.3333333333%;
}
.grid .push-7 {
  left: 58.3333333333%;
}
.grid .pull-7 {
  right: 58.3333333333%;
}
.grid .gcol-8 {
  max-width: 66.6666666667%;
}
.grid .push-8 {
  left: 66.6666666667%;
}
.grid .pull-8 {
  right: 66.6666666667%;
}
.grid .gcol-9 {
  max-width: 75%;
}
.grid .push-9 {
  left: 75%;
}
.grid .pull-9 {
  right: 75%;
}
.grid .gcol-10 {
  max-width: 83.3333333333%;
}
.grid .push-10 {
  left: 83.3333333333%;
}
.grid .pull-10 {
  right: 83.3333333333%;
}
.grid .gcol-11 {
  max-width: 91.6666666667%;
}
.grid .push-11 {
  left: 91.6666666667%;
}
.grid .pull-11 {
  right: 91.6666666667%;
}
.grid .gcol-12 {
  max-width: 100%;
}
.grid .push-12 {
  left: 100%;
}
.grid .pull-12 {
  right: 100%;
}
@media only screen and (min-width: 481px) {
  .grid .gcol-xs-1 {
    max-width: 8.3333333333%;
  }
  .grid .xs-push-1 {
    left: 8.3333333333%;
  }
  .grid .xs-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-xs-2 {
    max-width: 16.6666666667%;
  }
  .grid .xs-push-2 {
    left: 16.6666666667%;
  }
  .grid .xs-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-xs-3 {
    max-width: 25%;
  }
  .grid .xs-push-3 {
    left: 25%;
  }
  .grid .xs-pull-3 {
    right: 25%;
  }
  .grid .gcol-xs-4 {
    max-width: 33.3333333333%;
  }
  .grid .xs-push-4 {
    left: 33.3333333333%;
  }
  .grid .xs-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-xs-5 {
    max-width: 41.6666666667%;
  }
  .grid .xs-push-5 {
    left: 41.6666666667%;
  }
  .grid .xs-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-xs-6 {
    max-width: 50%;
  }
  .grid .xs-push-6 {
    left: 50%;
  }
  .grid .xs-pull-6 {
    right: 50%;
  }
  .grid .gcol-xs-7 {
    max-width: 58.3333333333%;
  }
  .grid .xs-push-7 {
    left: 58.3333333333%;
  }
  .grid .xs-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-xs-8 {
    max-width: 66.6666666667%;
  }
  .grid .xs-push-8 {
    left: 66.6666666667%;
  }
  .grid .xs-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-xs-9 {
    max-width: 75%;
  }
  .grid .xs-push-9 {
    left: 75%;
  }
  .grid .xs-pull-9 {
    right: 75%;
  }
  .grid .gcol-xs-10 {
    max-width: 83.3333333333%;
  }
  .grid .xs-push-10 {
    left: 83.3333333333%;
  }
  .grid .xs-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-xs-11 {
    max-width: 91.6666666667%;
  }
  .grid .xs-push-11 {
    left: 91.6666666667%;
  }
  .grid .xs-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-xs-12 {
    max-width: 100%;
  }
  .grid .xs-push-12 {
    left: 100%;
  }
  .grid .xs-pull-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .grid .gcol-sm-1 {
    max-width: 8.3333333333%;
  }
  .grid .sm-push-1 {
    left: 8.3333333333%;
  }
  .grid .sm-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-sm-2 {
    max-width: 16.6666666667%;
  }
  .grid .sm-push-2 {
    left: 16.6666666667%;
  }
  .grid .sm-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-sm-3 {
    max-width: 25%;
  }
  .grid .sm-push-3 {
    left: 25%;
  }
  .grid .sm-pull-3 {
    right: 25%;
  }
  .grid .gcol-sm-4 {
    max-width: 33.3333333333%;
  }
  .grid .sm-push-4 {
    left: 33.3333333333%;
  }
  .grid .sm-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-sm-5 {
    max-width: 41.6666666667%;
  }
  .grid .sm-push-5 {
    left: 41.6666666667%;
  }
  .grid .sm-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-sm-6 {
    max-width: 50%;
  }
  .grid .sm-push-6 {
    left: 50%;
  }
  .grid .sm-pull-6 {
    right: 50%;
  }
  .grid .gcol-sm-7 {
    max-width: 58.3333333333%;
  }
  .grid .sm-push-7 {
    left: 58.3333333333%;
  }
  .grid .sm-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-sm-8 {
    max-width: 66.6666666667%;
  }
  .grid .sm-push-8 {
    left: 66.6666666667%;
  }
  .grid .sm-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-sm-9 {
    max-width: 75%;
  }
  .grid .sm-push-9 {
    left: 75%;
  }
  .grid .sm-pull-9 {
    right: 75%;
  }
  .grid .gcol-sm-10 {
    max-width: 83.3333333333%;
  }
  .grid .sm-push-10 {
    left: 83.3333333333%;
  }
  .grid .sm-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-sm-11 {
    max-width: 91.6666666667%;
  }
  .grid .sm-push-11 {
    left: 91.6666666667%;
  }
  .grid .sm-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-sm-12 {
    max-width: 100%;
  }
  .grid .sm-push-12 {
    left: 100%;
  }
  .grid .sm-pull-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .grid .gcol-md-1 {
    max-width: 8.3333333333%;
  }
  .grid .md-push-1 {
    left: 8.3333333333%;
  }
  .grid .md-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-md-2 {
    max-width: 16.6666666667%;
  }
  .grid .md-push-2 {
    left: 16.6666666667%;
  }
  .grid .md-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-md-3 {
    max-width: 25%;
  }
  .grid .md-push-3 {
    left: 25%;
  }
  .grid .md-pull-3 {
    right: 25%;
  }
  .grid .gcol-md-4 {
    max-width: 33.3333333333%;
  }
  .grid .md-push-4 {
    left: 33.3333333333%;
  }
  .grid .md-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-md-5 {
    max-width: 41.6666666667%;
  }
  .grid .md-push-5 {
    left: 41.6666666667%;
  }
  .grid .md-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-md-6 {
    max-width: 50%;
  }
  .grid .md-push-6 {
    left: 50%;
  }
  .grid .md-pull-6 {
    right: 50%;
  }
  .grid .gcol-md-7 {
    max-width: 58.3333333333%;
  }
  .grid .md-push-7 {
    left: 58.3333333333%;
  }
  .grid .md-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-md-8 {
    max-width: 66.6666666667%;
  }
  .grid .md-push-8 {
    left: 66.6666666667%;
  }
  .grid .md-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-md-9 {
    max-width: 75%;
  }
  .grid .md-push-9 {
    left: 75%;
  }
  .grid .md-pull-9 {
    right: 75%;
  }
  .grid .gcol-md-10 {
    max-width: 83.3333333333%;
  }
  .grid .md-push-10 {
    left: 83.3333333333%;
  }
  .grid .md-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-md-11 {
    max-width: 91.6666666667%;
  }
  .grid .md-push-11 {
    left: 91.6666666667%;
  }
  .grid .md-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-md-12 {
    max-width: 100%;
  }
  .grid .md-push-12 {
    left: 100%;
  }
  .grid .md-pull-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .grid .gcol-lg-1 {
    max-width: 8.3333333333%;
  }
  .grid .lg-push-1 {
    left: 8.3333333333%;
  }
  .grid .lg-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-lg-2 {
    max-width: 16.6666666667%;
  }
  .grid .lg-push-2 {
    left: 16.6666666667%;
  }
  .grid .lg-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-lg-3 {
    max-width: 25%;
  }
  .grid .lg-push-3 {
    left: 25%;
  }
  .grid .lg-pull-3 {
    right: 25%;
  }
  .grid .gcol-lg-4 {
    max-width: 33.3333333333%;
  }
  .grid .lg-push-4 {
    left: 33.3333333333%;
  }
  .grid .lg-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-lg-5 {
    max-width: 41.6666666667%;
  }
  .grid .lg-push-5 {
    left: 41.6666666667%;
  }
  .grid .lg-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-lg-6 {
    max-width: 50%;
  }
  .grid .lg-push-6 {
    left: 50%;
  }
  .grid .lg-pull-6 {
    right: 50%;
  }
  .grid .gcol-lg-7 {
    max-width: 58.3333333333%;
  }
  .grid .lg-push-7 {
    left: 58.3333333333%;
  }
  .grid .lg-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-lg-8 {
    max-width: 66.6666666667%;
  }
  .grid .lg-push-8 {
    left: 66.6666666667%;
  }
  .grid .lg-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-lg-9 {
    max-width: 75%;
  }
  .grid .lg-push-9 {
    left: 75%;
  }
  .grid .lg-pull-9 {
    right: 75%;
  }
  .grid .gcol-lg-10 {
    max-width: 83.3333333333%;
  }
  .grid .lg-push-10 {
    left: 83.3333333333%;
  }
  .grid .lg-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-lg-11 {
    max-width: 91.6666666667%;
  }
  .grid .lg-push-11 {
    left: 91.6666666667%;
  }
  .grid .lg-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-lg-12 {
    max-width: 100%;
  }
  .grid .lg-push-12 {
    left: 100%;
  }
  .grid .lg-pull-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .grid .gcol-xl-1 {
    max-width: 8.3333333333%;
  }
  .grid .xl-push-1 {
    left: 8.3333333333%;
  }
  .grid .xl-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-xl-2 {
    max-width: 16.6666666667%;
  }
  .grid .xl-push-2 {
    left: 16.6666666667%;
  }
  .grid .xl-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-xl-3 {
    max-width: 25%;
  }
  .grid .xl-push-3 {
    left: 25%;
  }
  .grid .xl-pull-3 {
    right: 25%;
  }
  .grid .gcol-xl-4 {
    max-width: 33.3333333333%;
  }
  .grid .xl-push-4 {
    left: 33.3333333333%;
  }
  .grid .xl-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-xl-5 {
    max-width: 41.6666666667%;
  }
  .grid .xl-push-5 {
    left: 41.6666666667%;
  }
  .grid .xl-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-xl-6 {
    max-width: 50%;
  }
  .grid .xl-push-6 {
    left: 50%;
  }
  .grid .xl-pull-6 {
    right: 50%;
  }
  .grid .gcol-xl-7 {
    max-width: 58.3333333333%;
  }
  .grid .xl-push-7 {
    left: 58.3333333333%;
  }
  .grid .xl-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-xl-8 {
    max-width: 66.6666666667%;
  }
  .grid .xl-push-8 {
    left: 66.6666666667%;
  }
  .grid .xl-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-xl-9 {
    max-width: 75%;
  }
  .grid .xl-push-9 {
    left: 75%;
  }
  .grid .xl-pull-9 {
    right: 75%;
  }
  .grid .gcol-xl-10 {
    max-width: 83.3333333333%;
  }
  .grid .xl-push-10 {
    left: 83.3333333333%;
  }
  .grid .xl-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-xl-11 {
    max-width: 91.6666666667%;
  }
  .grid .xl-push-11 {
    left: 91.6666666667%;
  }
  .grid .xl-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-xl-12 {
    max-width: 100%;
  }
  .grid .xl-push-12 {
    left: 100%;
  }
  .grid .xl-pull-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  .grid .gcol-xxl-1 {
    max-width: 8.3333333333%;
  }
  .grid .xxl-push-1 {
    left: 8.3333333333%;
  }
  .grid .xxl-pull-1 {
    right: 8.3333333333%;
  }
  .grid .gcol-xxl-2 {
    max-width: 16.6666666667%;
  }
  .grid .xxl-push-2 {
    left: 16.6666666667%;
  }
  .grid .xxl-pull-2 {
    right: 16.6666666667%;
  }
  .grid .gcol-xxl-3 {
    max-width: 25%;
  }
  .grid .xxl-push-3 {
    left: 25%;
  }
  .grid .xxl-pull-3 {
    right: 25%;
  }
  .grid .gcol-xxl-4 {
    max-width: 33.3333333333%;
  }
  .grid .xxl-push-4 {
    left: 33.3333333333%;
  }
  .grid .xxl-pull-4 {
    right: 33.3333333333%;
  }
  .grid .gcol-xxl-5 {
    max-width: 41.6666666667%;
  }
  .grid .xxl-push-5 {
    left: 41.6666666667%;
  }
  .grid .xxl-pull-5 {
    right: 41.6666666667%;
  }
  .grid .gcol-xxl-6 {
    max-width: 50%;
  }
  .grid .xxl-push-6 {
    left: 50%;
  }
  .grid .xxl-pull-6 {
    right: 50%;
  }
  .grid .gcol-xxl-7 {
    max-width: 58.3333333333%;
  }
  .grid .xxl-push-7 {
    left: 58.3333333333%;
  }
  .grid .xxl-pull-7 {
    right: 58.3333333333%;
  }
  .grid .gcol-xxl-8 {
    max-width: 66.6666666667%;
  }
  .grid .xxl-push-8 {
    left: 66.6666666667%;
  }
  .grid .xxl-pull-8 {
    right: 66.6666666667%;
  }
  .grid .gcol-xxl-9 {
    max-width: 75%;
  }
  .grid .xxl-push-9 {
    left: 75%;
  }
  .grid .xxl-pull-9 {
    right: 75%;
  }
  .grid .gcol-xxl-10 {
    max-width: 83.3333333333%;
  }
  .grid .xxl-push-10 {
    left: 83.3333333333%;
  }
  .grid .xxl-pull-10 {
    right: 83.3333333333%;
  }
  .grid .gcol-xxl-11 {
    max-width: 91.6666666667%;
  }
  .grid .xxl-push-11 {
    left: 91.6666666667%;
  }
  .grid .xxl-pull-11 {
    right: 91.6666666667%;
  }
  .grid .gcol-xxl-12 {
    max-width: 100%;
  }
  .grid .xxl-push-12 {
    left: 100%;
  }
  .grid .xxl-pull-12 {
    right: 100%;
  }
}

nav#nav-bar button#nav-btn {
  position: relative;
  z-index: 3;
  outline: 0;
  background: transparent;
  border-width: 2px;
  border-color: #000;
  width: 35px;
  height: 35px;
  font-size: 30px;
}
@media only screen and (min-width: 992px) {
  nav#nav-bar button#nav-btn {
    display: none;
  }
}
nav#nav-bar button#nav-btn:before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  position: absolute;
  top: -6px;
  left: 2.5px;
  color: #000;
}
nav#nav-bar button#nav-btn:after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  position: absolute;
  top: -6px;
  left: 5px;
  color: #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
nav#nav-bar button#nav-btn.active:before {
  visibility: hidden;
  opacity: 0;
}
nav#nav-bar button#nav-btn.active:after {
  visibility: visible;
  opacity: 1;
}
nav#nav-bar button#nav-btn.active ~ #nav-coll {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 991px) {
  nav#nav-bar #nav-coll {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 992px) {
  nav#nav-bar #nav-coll .menu-container > ul > li {
    display: inline-block;
  }
}
nav#nav-bar #nav-coll .menu-container ul {
  list-style: none;
  padding-left: 0;
}

section.sec-slnc {
  height: 2000px;
}
section.sec-slnc #slnc {
  width: 1200px;
  height: 900px;
  background-image: url(screenshot.png);
}
@media only screen and (max-width: 1399px) {
  section.sec-slnc #slnc {
    width: 1100px;
    height: 825px;
  }
}
@media only screen and (max-width: 1199px) {
  section.sec-slnc #slnc {
    width: 892px;
    height: 669px;
  }
}
@media only screen and (max-width: 991px) {
  section.sec-slnc #slnc {
    width: 668px;
    height: 501px;
  }
}
@media only screen and (max-width: 767px) {
  section.sec-slnc #slnc {
    width: 476px;
    height: 357px;
  }
}
@media only screen and (max-width: 575px) {
  section.sec-slnc #slnc {
    width: 381px;
    height: 285.75px;
  }
}
@media only screen and (max-width: 480px) {
  section.sec-slnc #slnc {
    width: 220px;
    height: 165px;
  }
}

/*# sourceMappingURL=main.css.map */
