@use "../../abstracts" as *;

.sec-professional {
  @include mq(xxs) {
    h2 {
      font-size: 25px;
    }
  }

  @include all(gcol) {
    color: $white;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $white;

    @include mq(xxs) {
      font-size: 20px;
    }

    &:last-child,
    &:nth-last-child(2) {
      border-color: transparent;
    }

    @include mq(lg) {
      &:nth-child(odd) {
        border-color: transparent;
      }
    }

    @include mq(xxs) {
      &:nth-child(odd) {
        padding-bottom: 5px;
      }

      &:nth-child(even) {
        padding-top: 5px;
      }
    }

    i {
      text-shadow: 0 2px 4px $black-05, 0 -2px 4px $black-05;
      vertical-align: middle;

      &.fa-square {
        color: $cyan;
      }

      &.fa-html5 {
        color: hsl(13, 77%, 52%);
      }

      &.fa-css3-alt {
        color: hsl(205, 79%, 40%);
      }

      &.fa-sass {
        color: hsl(330, 50%, 60%);
      }

      &.fa-js {
        color: hsl(53, 93%, 54%);
      }

      &.fa-wordpress {
        color: hsl(199, 65%, 37%);
      }

      &.fa-php {
        color: hsl(236, 29%, 59%);
      }
    }

    svg {
      width: 2em;
      vertical-align: middle;
      padding: 5px;

      &.jquery {
        background: hsl(205, 92%, 35%);
      }

      &.ruby, &.rails {
        border: 1px solid $white;
      }

      &.ruby {
        background: hsl(3, 64%, 49%);
      }

      &.rails {
        background: hsl(0, 100%, 40%);
      }

      path {
        fill: $white;
      }
    }
  }
}
