@use "../../abstracts" as *;

footer {
  position: relative;

  .wrap-white {
    @include mq(xsup) {
      width: 75%;
    }

    div {
      & > i {
        &[class*="fa"] {
          color: $dcyan;
        }
      }
    }
  }

  .copyright {
    background: $dgray;
    color: $white;

    a {
      text-decoration: underline;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}
