@use "../../abstracts" as *;

footer {
  position: relative;

  .wrap-white {
    @include mq(xsup) {
      width: 75%;
    }

    i {
      text-shadow: 0 1px 1px $black-05, 0 -1px 1px $black-05;
      vertical-align: bottom;
      margin: 0 10px;

      &.fa-linkedin {
        color: hsl(210, 90%, 40%);
      }

      &.fa-stack-overflow {
        color: hsl(26, 91%, 55%);
      }

      &.fa-github {
        color: #181717;
      }

      &.fa-yahoo {
        color: hsl(267, 99%, 41%);
      }

      &.fa-envelope,
      &.fa-phone-alt {
        color: $dcyan;
      }
    }
  }

  .copyright {
    background: $dgray;
    color: $white;
  }
}
