@use "../../abstracts" as *;

header {
  @include bg($blue-gray-wp);

  &.img {
    @include mq(lg) {
      background-size: 140% 100%;
    }
  }

  p {
    &:nth-child(3) {
      @include mq(smup) {
        width: 75%;
      }
    }
  }

  a {
    color: $white;
    text-shadow: 0 2px 4px $black-05, 0 -2px 4px $black-05;

    &:before,
    &:after {
      text-shadow: none;
    }

    &:hover {
      color: $white;
    }
  }

  @include all(gcol) {
    color: $white;
    font-size: 30px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 2px solid $dgray;

    &:last-child,
    &:nth-last-child(2) {
      border-color: transparent;
    }

    &:nth-child(even) {
      @include flex(f);
    }

    @include mq(md) {
      &:nth-child(odd) {
        border-color: transparent;
        padding-bottom: 10px;
      }

      &:nth-child(even) {
        padding-top: 10px;
      }
    }

    i {
      text-shadow: 0 2px 4px $white, 0 -2px 4px $white;
      vertical-align: middle;
      margin: 8px;

      &.fa-square {
        color: $cyan;
        text-shadow: 0 2px 4px $dgray, 0 -2px 4px $dgray;
        margin: 0 5px;
      }

      &.fa-html5 {
        color: hsl(13, 77%, 52%);
      }

      &.fa-css3-alt {
        color: hsl(205, 79%, 40%);
      }

      &.fa-sass {
        color: hsl(330, 50%, 60%);
      }

      &.fa-bootstrap {
        color: hsl(264, 39%, 51%);
      }

      &.fa-git-alt {
        color: hsl(9, 86%, 57%);
      }

      &.fa-markdown {
        color: #000;
      }

      &.fa-laravel {
        color: hsl(3, 100%, 56%);
      }

      &.fa-react {
        text-shadow: none;
        color: hsl(193, 95%, 68%);
        background: $dgray;
        padding: 5px;

        @include prefix(
          (
            border-radius: 10px,
          ),
          webkit moz
        );
      }

      &.fa-js {
        text-shadow: none;
        color: hsl(53, 93%, 54%);
        background: #000;
        line-height: 0.9;
      }

      &.fa-wordpress {
        color: hsl(199, 65%, 37%);
      }

      &.fa-docker {
        color: hsl(206, 85%, 54%);
      }

      &.fa-php {
        text-shadow: none;
        color: #000;
        background: hsl(236, 29%, 59%);
        padding: 5px;

        @include prefix(
          (
            border-radius: 10px,
          ),
          webkit moz
        );
      }

      &.fa-node-js {
        color: hsl(120, 50%, 40%);
      }
    }

    svg {
      width: 2em;
      vertical-align: middle;
      background: transparent;
      margin: 8px;

      @include prefix(
        (
          filter: drop-shadow(0 2px 4px $white) drop-shadow(0 -2px 4px $white),
        ),
        webkit
      );

      &.jquery {
        path {
          fill: hsl(205, 92%, 35%);
        }
      }

      &.ruby {
        path {
          fill: hsl(3, 64%, 49%);
        }
      }

      &.rails {
        path {
          fill: hsl(0, 100%, 40%);
        }
      }

      &.postgresql {
        background: hsl(225, 73%, 57%);
        padding: 5px;

        path {
          fill: $white;
        }
      }

      &.lumen {
        path {
          fill: hsl(7, 79%, 55%);
        }
      }

      &.typescript {
        background: $white;

        path {
          fill: hsl(211, 60%, 48%);
        }
      }

      &.golang {
        path {
          fill: hsl(192, 100%, 42%);
        }
      }

      &.nestjs {
        path {
          fill: hsl(346, 75%, 51%);
        }
      }

      &.graphql {
        path {
          fill: hsl(319, 100%, 44%);
        }
      }

      &.apollo-gq {
        path {
          fill: hsl(252, 66%, 32%);
        }
      }

      &.serverless {
        path {
          fill: hsl(2, 98%, 65%);
        }
      }

      &.lambda {
        background: hsl(36, 100%, 50%);
        padding: 5px;

        path {
          fill: $white;
        }
      }

      &.lens {
        path {
          fill: hsl(206, 60%, 52%);
        }
      }
    }
  }
}
