@use "../../abstracts" as *;

header {
  p {
    &:nth-child(3) {
      @include mq(smup) {
        width: 75%;
      }
    }
  }

  a {
    color: $white;
    text-shadow: 0 2px 4px $black-05, 0 -2px 4px $black-05;

    &:before,
    &:after {
      text-shadow: none;
    }

    &:hover {
      color: $white;
    }
  }

  @include all(gcol) {
    color: $white;
    font-size: 30px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: 2px solid $dgray;

    &:last-child,
    &:nth-last-child(2) {
      border-color: transparent;
    }

    &:nth-child(even) {
      @include flex(f);
    }

    @include mq(md) {
      &:nth-child(odd) {
        border-color: transparent;
        padding-bottom: 10px;
      }

      &:nth-child(even) {
        padding-top: 10px;
      }
    }
  }
}
